         body {font-family: 'Raleway', sans-serif; font-size: 32px; background-color: #f8e6ae; color: #888; }
.page {
    background-color: #9abab;
    /*padding: 20px 30px 30px 50px;
    margin: 30px 0px 30px 0px;*/
}

.page h1 {
    color: #fff;
    font-size: 1.3em; font-weight: normal;
    text-transform: uppercase;
    position: relative;
    background-color: #b1d33f;
    /*margin: 0px -70px 20px -30px;*/
    padding: 5px 0px 2px 0px;
border-radius: 7px 7px 7px 7px;
-moz-border-radius: 7px 7px 7px 7px;
-webkit-border-radius: 7px 7px 7px 7px;
text-shadow: 0px 9px 1px rgba(137, 162, 171, 0.55);
text-align: center;
}
.page h1:after {
    content: '';
    display: block;
    height: 40px;
    width: 40px;

    background: url(images/fold.gif) no-repeat 0 0;
position: absolute; right: 0px; bottom: -40px;}
.page p { line-height: 1em; font-size: 20px;background-color:#b1d33f;}

    button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: black;
}

.jumbotron.topHeading {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 25px;
}

.jumbotron.topHeading p {
  border-radius: 7px 7px 7px 7px;
-moz-border-radius: 7px 7px 7px 7px;
-webkit-border-radius: 7px 7px 7px 7px;
text-align: center;  
}

.jumbotron.mainContainer {
    background:url(../images/world.jpg);
    background-size: cover;
}

.map_container {
    width: 100% !important;
    margin-bottom: 30px;

}

h2,h3{
    font-family: inherit;
    font-weight:500;
    height:1.1;
    font-size: 30px;
    color:#fcffff;
    text-shadow: 13px 14px 1px rgba(145, 150,150,0.82);
}

.jumbotron p {
    font-family: inherit;
    margin-bottom:15px;
    font-size:30px;
    font-weight: 200;
    color:#fcffff;
}

.jumbotron.topHeading {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 25px;
	background-color: #0e8fd8;
}

img.city_photo {
  border: 2px solid #F70831;

}
